<div class="text-center my-4">
    <h1 class="display-6">志願選填</h1>
</div> 
    <nav>
        <div class="nav nav-tabs justify-content-center" id="sectionTab" role="tablist">
            <!-- 用js調整顯示的節次數量 -->
            <!-- <button class="nav-link active" id="section-1-tab" data-bs-toggle="tab" data-bs-target="#section1" type="button" role="tab">第一節</button> -->
            <button class="nav-link" id="section-1-tab" data-bs-toggle="tab" data-bs-target="#section1" type="button" role="tab">第一節</button>
            <button class="nav-link" id="section-2-tab" data-bs-toggle="tab" data-bs-target="#section2" type="button" role="tab">第二節</button>
            <button class="nav-link" id="section-3-tab" data-bs-toggle="tab" data-bs-target="#section3" type="button" role="tab">第三節</button>
            <button class="nav-link" id="section-4-tab" data-bs-toggle="tab" data-bs-target="#section4" type="button" role="tab">第四節</button>
            <button class="nav-link" id="section-5-tab" data-bs-toggle="tab" data-bs-target="#section5" type="button" role="tab">第五節</button>
            <button class="nav-link" id="section-6-tab" data-bs-toggle="tab" data-bs-target="#section6" type="button" role="tab">第六節</button>
            <button class="nav-link" id="section-7-tab" data-bs-toggle="tab" data-bs-target="#section7" type="button" role="tab">第七節</button>
            <button class="nav-link" id="section-8-tab" data-bs-toggle="tab" data-bs-target="#section8" type="button" role="tab">第八節</button>
            <button class="nav-link" id="section-9-tab" data-bs-toggle="tab" data-bs-target="#section9" type="button" role="tab">第九節</button>
            <button class="nav-link" id="section-10-tab" data-bs-toggle="tab" data-bs-target="#section10" type="button" role="tab">第十節</button>
            <button class="nav-link" id="section-11-tab" data-bs-toggle="tab" data-bs-target="#section11" type="button" role="tab">第十一節</button>
            <button class="nav-link" id="section-12-tab" data-bs-toggle="tab" data-bs-target="#section12" type="button" role="tab">第十二節</button>
            <button class="nav-link" id="section-13-tab" data-bs-toggle="tab" data-bs-target="#section13" type="button" role="tab">第十三節</button>
            <button class="nav-link" id="section-14-tab" data-bs-toggle="tab" data-bs-target="#section14" type="button" role="tab">第十四節</button>
            <button class="nav-link" id="section-15-tab" data-bs-toggle="tab" data-bs-target="#section15" type="button" role="tab">第十五節</button>
        </div>
    </nav>
    <div class="tab-content align-self-start" id="section-tabContent">
        <!-- 第五節範例 -->
        <!--<div class="tab-pane fade p-3" id="section5" role="tabpanel"> 
        <h2 id="sectionTime${sectionNumber}" class="text-center mb-3">7/11 (四) 14:00~17:00</h2>
        <ul class="list-group">
            <li class="list-group-item">
            <div class="d-flex align-items-center">
                    <select
                            class="form-select form-select-sm text-center"
                            name=""
                            id=""
                            style="width:auto;"
                        >
                            <option selected>選擇志願</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                    </select>
                    <div id="className${sectionNumber}" class="lead fw-bold mx-2">${className}</div>
                    <button class="btn btn-secondary ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC${sectionNumber}1" aria-expanded="false" aria-controls="collapseC${sectionNumber}">詳細資訊</button>
            </div>
            <div class="collapse" id="collapseC${sectionNumber}1">
                <div class="card card-body border-0 d-flex flex-row align-items-start ps-0">
                <img src="assets/${pfp}.jpg" class="rounded-circle profile mx-3" alt="" id="pfp${sectionNumber}" />
                <div id="classInfo${sectionNumber}" class="info">${classInfo}</div>
                </div>
            </div>
                </li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
        </ul>   
        </div> -->
        <!-- 第五節END -->
    </div>
</div>
<div class="text-center">
    <p class="text-danger">志願序不得重複！</p>
    <a
        name=""
        id="pNext"
        class="btn btn-primary"
        href="pSelR.html"
        role="button"
        >下一步</a
    >
    
</div>