{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>第一次選課｜國中部</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header class="fixed-top">
            <div class="d-flex justify-content-between bg-primary">
                <h3 class="bTitle text-light m-3">第一次選課｜國中部</h3>
                <p class="bUser lead text-light m-3">第一小隊 - 陳彥廷</p>
            </div>
        </header>
        <main class="mt-5 pt-5">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="display-6">確認志願</h1>
                </div> 
                <div
                    class="table-responsive"
                >
                    <table
                        class="table table-bordered table-striped"
                    >
                        <thead>
                            <tr>
                                <th scope="col" class="col small">志願</th>
                                <th scope="col" class="col-2">第一節</th>
                                <th scope="col" class="col-2">第二節</th>
                                <th scope="col" class="col-2">第三節</th>
                                <th scope="col" class="col-2">第四節</th>
                                <th scope="col" class="col-2">第五節</th>
                                <th scope="col" class="col-2">第六節</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td scope="row" class="fw-bold">#1</td>
                                <td>There's been a rainbow hanging over your head</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                            </tr>
                            <tr class="">
                                <td scope="row" class="fw-bold">#2</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                            </tr>
                            <tr class="">
                                <td scope="row" class="fw-bold">#3</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                            </tr>
                            <tr class="">
                                <td scope="row" class="fw-bold">#4</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                            </tr>
                            <tr class="">
                                <td scope="row" class="fw-bold">#5</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                                <td>皇后搖滾街舞！</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-5">
                    <a
                        name=""
                        id="pNext"
                        class="btn btn-primary"
                        href="stdLogin.html"
                        role="button"
                        >沒有填錯！送出！</a
                    >
                </div>
            </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <script src="main.js"></script>
                <!-- Bootstrap JavaScript Libraries -->
                <script
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"
            ></script>
    
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"
            ></script>
    </body>
</html>
