{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>選課組登入</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}">  
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
      <main>
          <div class="d-flex justify-content-center align-self-center">
            <form method="POST" action="{% url 'stdLogin' %}" class="loginBox text-center bg-light">
              {% csrf_token %}
              <span class="display-3">學員登入</span>
                <div class="mb-3 pt-5 text-start lead">
                  <label for="stdIdInput" class="form-label">學員編號</label>
                  <input
                  type="text"
                  class="form-control"
                  name="std_id"
                  id="stdIdInput"
                  aria-describedby="helpId"
                  placeholder=""
                  />
                </div>
                <div class="mb-3 text-start lead">
                <label for="teamInput" class="form-label">小隊</label>
                <select
                  class="form-select"
                  name="team"
                  id="teamInput"
                >
                <!-- 需要用js隨import的學員資訊來調整，預設n組 -->
                  <option selected value="">選擇你的小隊</option>
                  <option value="1">第一小隊</option>
                  <option value="2">第二小隊</option>
                  <option value="3">第三小隊</option>
                  <option value="4">第四小隊</option>
                  <option value="5">第五小隊</option>
                  <option value="6">第六小隊</option>
                  <option value="7">第七小隊</option>
                  <option value="8">第八小隊</option>
                </select>
                </div>
                <div class="mb-3 text-start">
                <label for="satbInput" class="form-label">聲部</label>
                <select
                  class="form-select"
                  name="satb"
                  id="satbInput"
                >
                <!-- 需要用js隨import的學員資訊來調整，預設n組 -->
                  <option selected value="">選擇你的聲部</option>
                  <option value="S">S</option>
                  <option value="A">A</option>
                  <option value="T">T</option>
                  <option value="B">B</option>
                </select>
                <div class="text-center my-3">
                  {% for message in messages %}
                  <div class="text-danger" id="stdError">{{message}}</div>
                  {% endfor %}
                  <!-- Buttons Section -->
                  <div class="d-flex flex-row justify-content-center">
                    <button
                    type="submit"
                    name="stdLogin"
                    id="stdLogin"
                    class="btn btn-lg btn-primary m-3 p-2"
                    >登入</button>
                    <a href="{% url 'index' %}" class="btn btn-lg btn-secondary m-3 p-2">回到首頁</a>
                  </div>
                </div>

              </div>
            </form>
            </div> 

        </main> 

      <!-- <script src="/js/stdLogin.js"></script> -->
              <!-- Bootstrap JavaScript Libraries -->
              <script
              src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
              integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
              crossorigin="anonymous"
          ></script>
  
          <script
              src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
              integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
              crossorigin="anonymous"
          ></script>
    </body>
</html>
