{% load static %}
{% load filters%}
<!doctype html>
<html lang="en">
    <head>
        <title>志工頁面</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- BS5 Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>

    <body>
                {% include 'volunteer_nav.html' %}

                <main class="mt-5 pt-1">
                    
                    <div class="container">
                        <h1 class="display-6">選課結果查詢</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tab-TeamLookup-tab" data-bs-toggle="tab" data-bs-target="#tab-TeamLookup" type="button" role="tab" aria-controls="tab-TeamLookup" aria-selected="true">小隊</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab-CourseResultLookup-tab" data-bs-toggle="tab" data-bs-target="#tab-CourseResultLookup" type="button" role="tab" aria-controls="tab-CourseResultLookup" aria-selected="false">課程</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active m-3" id="tab-TeamLookup" role="tabpanel" aria-labelledby="tab-TeamLookup-tab">
                                <form id="TeamLookup-form">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="select1" class="form-label">國中／高中部</label>
                                        <select class="form-select" id="JorH-select" name="j_or_h">
                                            <option value="J">國中部</option>
                                            <option value="H">高中部</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="select1" class="form-label">小隊</label>
                                        <select class="form-select" id="teamSelect" name="team">
                                            <option value="1">第一小隊</option>
                                            <option value="2">第二小隊</option>
                                            <option value="3">第三小隊</option>
                                            <option value="4">第四小隊</option>
                                            <option value="5">第五小隊</option>
                                            <option value="6">第六小隊</option>
                                            <option value="7">第七小隊</option>
                                            <option value="8">第八小隊</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="SelectionStage" class="lead form-label">節次</label>
                                        <div>
                                            <select class="form-select" name="section_id" id="sections">
                                                {% for section in sections %}
                                                    <option value="{{ section.section_id }}">{{ section.section_display }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <button id="TeamLookup-button" type="button" class="btn btn-primary">查詢</button>
                                </form>
                            </div>
                            <div class="tab-pane fade m-3" id="tab-CourseResultLookup" role="tabpanel" aria-labelledby="tab-CourseResultLookup-tab">
                                <form id="CourseResultLookup-form">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="course_select" class="lead form-label">課程</label>
                                        <input class="form-select" list="course_select" name="course_id">
                                            <datalist class="" id="course_select">
                                                {% for course in courses %}
                                                    <option value="{{ course.course_id }}">{{ course.course_name }}</option>
                                                {% endfor %}
                                            </datalist>
                                    </div>
                                    <button id="CourseResultLookup-button" type="button" class="btn btn-primary">查詢</button>
                                    <!-- Search results will be displayed here -->
                                </form>
                            </div>
                        </div>
                        <div id="results-container" class="mt-3">
                            <!-- 選課結果顯示 -->
                        </div>
                    </div>
                </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                fetchCourses();
            });

            function fetchCourses() {
                fetch(`/courses_lookup/?section_id=`)
                    .then(response => response.json())
                    .then(data => {
                        const courseSelect = document.getElementById('course_select');
                        courseSelect.innerHTML = '';
                        data.courses.forEach(course => {
                            const option = document.createElement('option');
                            option.value = course.course_id;
                            option.textContent = course.course_name;
                            courseSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            function handleTeamLookup() {
                const form = document.getElementById('TeamLookup-form');
                const formData = new FormData(form);
                fetch('/team_results_lookup/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    }
                })
                    .then(response => response.json())
                    .then(data => displayResults(data.results))
                    .catch(error => console.error('Error:', error));
            }

            function handleCourseLookup() {
                const form = document.getElementById('CourseResultLookup-form');
                const formData = new FormData(form);
                fetch('/course_results_lookup/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    }
                })
                    .then(response => response.json())
                    .then(data => displayResults(data.results))
                    .catch(error => console.error('Error:', error));
            }

            function displayResults(results) {
                const resultsContainer = document.getElementById('results-container');
                resultsContainer.innerHTML = '<h2>查詢結果</h2>';
                const table = document.createElement('table');
                table.classList.add('table');
                const thead = document.createElement('thead');
                thead.innerHTML = '<tr><th>學員</th><th>課程</th></tr>';
                table.appendChild(thead);
                const tbody = document.createElement('tbody');
                results.forEach(result => {
                    const row = document.createElement('tr');
                    if (result.std_tag === 'gr') {
                        row.classList.add('table-danger');
                        console.log('gr');
                    }
                    row.innerHTML = `<td>${result.std_name}</td><td>${result.course_name}</td>`;
                    tbody.appendChild(row);
                });
                table.appendChild(tbody);
                resultsContainer.appendChild(table);
            }

            document.getElementById('TeamLookup-button').addEventListener('click', handleTeamLookup);
            document.getElementById('CourseResultLookup-button').addEventListener('click', handleCourseLookup);
        </script>
                <!-- Bootstrap JavaScript Libraries -->
                <script
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"
            ></script>
    
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"
            ></script>
    </body>
</html>
