.loginBox {
    margin-top: 150px;
    padding: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 13px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: 9px 10px 13px -6px rgba(0,0,0,0.53);
    box-shadow: 9px 10px 13px -6px rgba(0,0,0,0.53);
}
.label {
    text-align: left; /* Ensure labels align left */
    margin: 0 !important;
    padding: 0 !important;
  }
  
.input {
flex: 1; /* Ensure input takes up remaining space */
}

.banner {
margin:70px;
}

.bTitle{
    font-size: 3vw !important;
}

.bNavLink:hover {
    background-color: #f8f9fa !important; /* Light background */
    color: #007bff !important; /* Primary text color */
}

.bUser{
    font-size: 2.5vw !important; 
}

.backNav{
    font-size: 2.5vw !important; 
}

.profile {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.info {
    padding-right: 100px;
}

